.animationFlag {
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}
.activityContainer {
    background-color: #14364adf;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoActivityContainer {
    padding: 1rem;
    border: 2px solid white;
    margin-bottom: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}



