.content {
    color:#dc56f7;
text-align:center;
font:bold italic 25px verdana;
}
.content1 {
    color:#dc56f7;
text-align:left;
font:bold italic 25px verdana;
}
.content2 {
    color:#e5dae7;
text-align:left;
}
.content4 {
    color:#dc56f7;
text-align:left;
font:bold italic 25px verdana;
}
