.navbar {
    background-color: #ffffffe3;
    display: flex;
    justify-content: space-between;
}

.btnsContainer {
    display: flex;
    gap: 10rem;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #000000e3;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: background-color 0.5s;
    border: 2px solid transparent;
}

.btn:hover {
    background-color: #000;
}

li:last-child {
    margin-right: 2rem;
}

.img {
    height: 60px;
    padding: 0rem 1rem;
    padding: 0.3rem 1rem;
}

.containerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.btnMenu {
    color: white;
    background-color: #000000e3;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnMenu:hover {
    background-color: #000;
}
